################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Resume/.vs/Resume/FileContentIndex/4f2c4a4a-5d7c-479b-b287-d1083bc0f81e.vsidx
/Resume/.vs/Resume/FileContentIndex/68f62026-dcc7-4640-9a85-78c0eb41b534.vsidx
