################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs
/Resume/.vs
/Resume/Resume.Presentation/bin
/Resume/Resume.Presentation/obj
/Resume/Resume.Application/obj
/Resume/Resume.Application/bin
/Resume/Resume.Infrastructure/bin
/Resume/Resume.Infrastructure/obj
