@model List<Resume.Domain.Models.Entities.Education>
@{
    ViewData["Title"] = "Home Page";
}

<!-- Content -->
<div class="content" data-simplebar>
	<div class="section mt-0">
		<h1 class="title title--h1 title__separate">Resume</h1>
	</div>

	<!-- Experience -->
	<div class="section">
		<h2 class="title title--h2"><img class="title-icon" src="/SiteSample/assets/icons/icon-education.svg" alt="" /> Education</h2>
		<div class="timeline">

			@foreach (var education	in Model)
			{
			<!-- Item -->
			<article class="timeline__item">
				<h5 class="title title--h3 timeline__title">@education.EducatationTitle</h5>
				<span class="timeline__period">@education.EducationDuration</span>
				<p class="timeline__description">@education.Description</p>
			</article>			
			}
@*
			<!-- Item -->
			<article class="timeline__item">
				<h5 class="title title--h3 timeline__title">New York Academy of Art</h5>
				<span class="timeline__period">2005 — 2007</span>
				<p class="timeline__description">Ratione voluptatem sequi nesciunt, facere quisquams facere menda ossimus, omnis voluptas assumenda est omnis..</p>
			</article>

			<!-- Item -->
			<article class="timeline__item">
				<h5 class="title title--h3 timeline__title">High School of Art and Design</h5>
				<span class="timeline__period">2003 — 2005</span>
				<p class="timeline__description">Duis aute irure dolor in reprehenderit in voluptate, quila voluptas  mag odit aut fugit, sed consequuntur magni dolores eos.</p>
			</article>
*@
		</div>
	</div>
@*
	<div class="section">
		<h2 class="title title--h2"><img class="title-icon" src="/SiteSample/assets/icons/icon-experience.svg" alt="" /> Experience</h2>
		<div class="timeline">
			<!-- Item -->
			<article class="timeline__item">
				<h5 class="title title--h3 timeline__title">Creative Director</h5>
				<span class="timeline__period">2015 — Present</span>
				<p class="timeline__description">Nemo enim ipsam voluptatem blanditiis praesentium voluptum delenit atque corrupti, quos dolores et qvuas molestias exceptur.</p>
			</article>

			<!-- Item -->
			<article class="timeline__item">
				<h5 class="title title--h3 timeline__title">Art Director</h5>
				<span class="timeline__period">2013 — 2015</span>
				<p class="timeline__description">Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti, quos dolores et quas molestias exceptur.</p>
			</article>

			<!-- Item -->
			<article class="timeline__item">
				<h5 class="title title--h3 timeline__title">Web Designer</h5>
				<span class="timeline__period">2010 — 2013</span>
				<p class="timeline__description">Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti, quos dolores et quas molestias exceptur.</p>
			</article>
		</div>
	</div>
*@
	<!-- Skills -->
	<div class="section">
		<h2 class="title title--h2">My Skills</h2>
		<div class="box-gray">
			<!-- Progress -->
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
					<div class="progress-text"><span>ASP.NET Core</span><span>40%</span></div>
				</div>
				<div class="progress-text"><span>ASP.NET Core</span></div>
			</div>

			<!-- Progress -->
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
					<div class="progress-text"><span>C#</span><span>80%</span></div>
				</div>
				<div class="progress-text"><span>C#</span></div>
			</div>

			<!-- Progress -->
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
					<div class="progress-text"><span>Java</span><span>70%</span></div>
				</div>
				<div class="progress-text"><span>Java</span></div>
			</div>

			<!-- Progress -->
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
					<div class="progress-text"><span>Front-End</span><span>40%</span></div>
				</div>
				<div class="progress-text"><span>Front-End</span></div>
			</div>
		</div>
	</div>
	<!-- Languages -->
	<div class="section">
		<h2 class="title title--h2">My Languages</h2>
		<div class="box-gray">
			<!-- Language -->
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="90">
					<div class="progress-text"><span>English</span><span>Adeptly</span></div>
				</div>
			</div>

			<!-- Language -->
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="90">
					<div class="progress-text"><span>Persian</span><span>Native</span></div>
				</div>
			</div>

			<!-- Language -->
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="90">
					<div class="progress-text"><span>French</span><span>Basic</span></div>
				</div>
			</div>
		</div>
	</div>
</div><!-- Content End -->
